<!DOCTYPE html>
<html>
<head>
<title>แอพล่ามแปลภาษาญี่ปุ่น 日本語通訳アプリケーション</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:150px}
</style>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'th'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body style="max-width:600px">



<header class="w3-bar w3-card w3-theme">
  <button class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme" onclick="openSidebar()">&#9776;</button>
  <h1 class="w3-bar-item">แอพล่ามแปลภาษาญี่ปุ่น</h1>
</header>

<div class="w3-container">
<hr>
<div class="w3-cell-row">
  <div class="w3-cell w3-container">
    <button id="start-btn">start</button>
    <button id="stop-btn">stop</button>
    <div id="01" style="display:none">
      <span class="spinner-border spinner-border-sm"></span>
      เริ่มพูด。。。。
    </div>

    <div id="result-div"></div>

    <p id="text1"></p>
    <div id="google_translate_element">
    <textarea id="textT" rows="5" cols="50" onkeydown="textKey()"></textarea>
    <textarea id="text" rows="5" cols="50" onkeydown="textKey()"></textarea>
    <p>กดเพื่อลบข้อความ:
        <a href="home.html" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
      </p>
    <p>กดเลือกเสียง↓</p>
    <select id="voice-select"></select>
    <button id="speak-btn" onclick="myFunction()">Click to play</button>
  </div>
    </div>
</div>

<hr>
</div>

<footer class="w3-container w3-theme w3-margin-top">
  <h3>แอพแปลภาษาญี่ปุ่น ระดับ N3</h3>
</footer>

<script>
closeSidebar();
function openSidebar() {
  document.getElementById("mySidebar").style.display = "block";
}

function closeSidebar() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
<script>
  const startBtn = document.querySelector('#start-btn');
  const stopBtn = document.querySelector('#stop-btn');
  const resultDiv = document.querySelector('#result-div');

  SpeechRecognition = webkitSpeechRecognition || SpeechRecognition;
  let recognition = new SpeechRecognition();

  recognition.lang = 'th';
  recognition.interimResults = true;
  recognition.continuous = true;

  let finalTranscript = ''; // 確定した(黒の)認識結果

  recognition.onresult = (event) => {
    let interimTranscript = ''; // 暫定(灰色)の認識結果
    for (let i = event.resultIndex; i < event.results.length; i++) {
      let transcript = event.results[i][0].transcript;
      if (event.results[i].isFinal) {
        finalTranscript += transcript;
      } else {
        interimTranscript = transcript;
      }
    }

    resultDiv.innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</i>';
    var x = finalTranscript +  interimTranscript;
    document.getElementById("textT").innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</i>';
    document.getElementById("text1").innerHTML = x;


  }

  startBtn.onclick = () => {
    recognition.start();
    document.getElementById('text1').innerHTML = '';
    var x = document.getElementById('01');
    x.style.display = 'block';

   }
  stopBtn.onclick = () => {
    recognition.stop();
    var y = document.getElementById('01');
    y.style.display = 'none';
  }
</script>
<script>
function myFunction() {
      let text_result = document.getElementById("text1").innerHTML;
      var html = document.getElementById("text1").innerHTML;
      var div = document.createElement("div");
      div.innerHTML = html;
      var text = div.textContent || div.innerText || "";
      document.getElementById("text").innerHTML = text
      }
function textKey(){

      document.getElementById("text1").innerHTML = document.getElementById("textT").value;
}

</script>


<script>

  const text        = document.querySelector('#text')
  const voiceSelect = document.querySelector('#voice-select')
  const speakBtn    = document.querySelector('#speak-btn')

  // selectタグの中身を声の名前が入ったoptionタグで埋める
  function appendVoices() {
    // ①　使える声の配列を取得
    // 配列の中身は SpeechSynthesisVoice オブジェクト
    const voices = speechSynthesis.getVoices()
    voiceSelect.innerHTML = ''
    voices.forEach(voice => { //　アロー関数 (ES6)
      // 日本語と英語以外の声は選択肢に追加しない。
      if(!voice.lang.match('ja|th')) return
      const option = document.createElement('option')
      option.value = voice.name
      option.text  = `${voice.name} (${voice.lang})` //　テンプレートリテラル (ES6)
      option.setAttribute('selected', voice.default)
      voiceSelect.appendChild(option)

    });
  }

  appendVoices()

  // ② 使える声が追加されたときに着火するイベントハンドラ。
  // Chrome は非同期に(一個ずつ)声を読み込むため必要。
  speechSynthesis.onvoiceschanged = e => {
    appendVoices()

  }

  speakBtn.addEventListener('click', function() {
    // 発言を作成
    const uttr = new SpeechSynthesisUtterance(text.value)
    // ③ 選択された声を指定
    uttr.voice = speechSynthesis
      .getVoices()
      .filter(voice => voice.name === voiceSelect.value)[0]
    // 発言を再生 (発言キュー発言に追加)
    speechSynthesis.speak(uttr)
  })
</script>

</body>
